.social-link:hover
{
    transition-duration: 0.15s;
    opacity: 0.5;
}

.display-1, .display-2, .display-3, .display-4
{
    font-weight: 200;
}

.font-weight-lighter
{
    font-weight: 200 !important;
}

.font-weight-lightest
{
    font-weight: 100 !important;
}

.nav-item
{
    font-weight: 500;
}

.embed-responsive-16by10::before
{
    padding-top: 62.5%;
}